/*--RESETEAR ESTILOS DEL DOCUMENTO--*/
body{
  background: #efefef;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica
}
a{
  text-decoration:none;
}
ul{
  padding:0;
}
li{
  list-style:none;
}
h3{
  margin:0;
}

/*--ESTILOS DEL MENU--*/
#acordeon{
  margin: 50px auto;
  background: white;
  width: 30%;
  min-width:150px;
}
#acordeon h3{
  background: #b7b7b7;
  color: white;
  cursor: pointer;
  padding:5px;
  font-size: 14px;
  border-top:1px solid;
}
#acordeon ul > li:nth-child(1) > h3{
  border:none;
}
#acordeon ul li ul{
  display:none;
}
#acordeon .active ul{
  display:block;
}

#acordeon ul ul li > a{
  color:#919191;
  font-size: 14px;
  padding: 5px 5px;
  display:block;
  transition: all .2s;
  -webkit-box-sizing: border-box;
}
#acordeon ul ul li > a:hover{
  color:#ffffff;
  background: #898989;
  border-left: 7px solid #ff872b;
}
.fa-tasks, .fa-calendar-o, .fa-thumbs-o-up{
  margin-right: 7px;
}



